<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New search page</h1>

  <form action="/new">
    <legend>New book search</legend>
    <label for="searchByBook">Search by Title</label>
    <input type="text" name="bookTitle">

    <label for="searchByAuthor">Search by Author</label>
    <input type="text" name="authorName">
    <input type="submit">
  </form>
</body>
</html>