<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New search page</h1>

  <form action="/searches/new" method="POST">
    <legend>New book search</legend>
    <label for="searchByBook">Search for a book</label>
    <input type="text" name="search[keyword]">

    <label for="searchByAuthor">Search by Author</label>
    <input type="radio" name="search[type]" value="author" required>
    <label for="searchByTitle">Search by Title</label>
    <input type="radio" name="search[type]" value="title" required>
    <input type="submit">
  </form>
</body>
</html>